[user]
	name = Thomas-Hartmann
	email = thomas@webtrade.dk
[credential]
	helper = "!f() { /home/jovyan/.vscode-server/bin/db40434f562994116e5b21c24015a2e40b2504e6/node /tmp/vscode-remote-containers-bf67564d93576257f401f7fb4f0959287c6e0d5d.js $*; }; f"
[push]
	default = simple
[filesystem "Ubuntu|11.0.8|/dev/nvme0n1p2"]
	timestampResolution = 8000 nanoseconds
	minRacyThreshold = 5332 microseconds
