Click
selenium
webdriver-manager
openpyxl
html5lib
lxml
dateparser
pydantic
matplotlib
pandas
numpy
python-dateutil
pytz
seaborn

wget
graphviz 
folium

# Deep learning:
theano
tensorflow
keras
sklearn
opencv-python
nltk
wordcloud
